.content{
   margin: 1em 5em;
}

.Antecedentes h1, .Antecedentes h3{
   text-align: center;
}

.formAntecedentes .fecha{
   display: flex;
}

.formAntecedentes .fecha p{
   margin-right: 10px;
   padding: 10px;
   background: #f2f3f4;
   border-radius: 10px;
}

.formAntecedentes div{
   /* width: 100%; */
   display: flex;
   flex-wrap: wrap;
}